.container {
  padding: 20px;
  img {
    width: 300px;
  }
  .textfield {
    margin-top: 10px;
  }
}

.input_container {
  img {
    width: 300px;
    margin: 20px auto;
  }
}
.upload_audio_text {
  text-align: center;
}
